In [2]:
print ("hello world")

hello world

In [6]:
print ("Mary's cosmetics")

Mary's cosmetics

In [7]:
print ('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [18]:
print ("C:\\Windows")

C:\Windows

In [10]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\t: 탭 \n 줄바꿈

In [11]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

영단어 그대로 분리하여 출력, 기본 값으로는 공백이 들어가 있으며 이를 사용해 원하는 문자를 입력 가능

In [15]:
print("naver", "kakao","sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [16]:
print("first", end=""); print("second")

firstsecond

print문을 이용해 출력을 완료한 뒤의 내용을 수정/ 기본 값으로는 개행(\n) 이를 사용해 개행을 없애거나 원하는 문자를 입력가능

In [17]:
print(5/3)

1.6666666666666667

In [19]:
#011 변수 사용하기
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [24]:
#012 변수 사용하기
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [28]:
#013 문자열 출력
s = "hello"
t = "python"
print (s+"!", t)

hello! python

In [29]:
#014 파이썬을 이용한 값 계산
2 + 2 * 3

8

In [32]:
a = 128
print (type(a))
<class 'int'>

SyntaxError: invalid syntax (1854018726.py, line 3)

In [33]:
#015 type 함수
a = "132"
print (type(a))

<class 'str'>

In [ ]:
#016 문자열을 정수로 변환
num_str = "720"

In [37]:
num_str = "720"
num_int = int(num_str)
print(type(num_int))

<class 'int'>

int()는 인자로 전달된 문자열을 Integer로 변환

In [38]:
#017 정수를 문자열 100으로 변환
num = 100
num = int(100)
print(type(100))

<class 'int'>

In [40]:
#018 문자열을 실수로 변환
str =  "15.79"
str = float("15.79")
print(type("15.79"))

<class 'str'>

float()으로 String을 Float으로 변환

In [41]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [43]:
#019 문자열을 정수로 변환
year = "2020"
year = int("2020")
print(type("2020"))

<class 'str'>

In [44]:
print (year-1, year, year+1)

2019 2020 2021

In [46]:
#020 파이썬 계산
# 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매
48584 * 36

1749024

In [49]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

In [50]:
#021 문자열 인덱싱 (문자열에서 한 글자를 가져오는 것을 인덱싱)
letters = 'python'
print (1,4)

1 4

In [51]:
letters = 'python'
print (letters[0], letters[2])

p t

In [52]:
#022 문자열 슬라이싱
license_plate = "24가 2210"
print ([4:7])

SyntaxError: invalid syntax (2109105407.py, line 3)

In [54]:
license_plate = "24가 2210"
print (license_plate[-4:])

2210

In [56]:
##023 문자열 인덱싱
string = "홀짝홀짝홀짝"
print (string[::2])

홀홀홀

string[0:6:2]
:: 처음과 끝 지정 2칸씩 뛰어서 출력

In [57]:
#024 문자열 슬라이싱
string = "PYTHON"
string.reverse

AttributeError: 'str' object has no attribute 'reverse'

In [58]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [60]:
#025 문자열 치환
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-", " ")
print(phone_number)

010 1111 2222

In [61]:
#026 문자열 다루기
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-", "")
print(phone_number)

01011112222

In [64]:
#027 문자열 다루기
url = "http://sharebook.kr"
print (url[-2:])

kr

In [66]:
#028 문자열은 immutable
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [67]:
#029 replace 메서드
string = 'abcdfe2a354a32a'
string = string.replace("a", "A")
print(string)

Abcdfe2A354A32A

In [68]:
#030 replace 메서드
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

문자열은 변경할 수 없는 자료형 / 왼쪽에 지정된 변수가 없어서 결과가 그대로 출력됨

In [69]:
#031 문자열 합치기
a = "3"
b = "4"
print(a + b)

34

In [70]:
#032 문자열 곱하기
print("Hi" * 3)

HiHiHi

In [71]:
#033 문자열 곱하기 '-'를 80개 출력하세요.
print("-"*80)

--------------------------------------------------------------------------------

In [73]:
#034 문자열 곱하기
t1 = 'python'
t2 = 'java'
print((t1 + t2)*4)

pythonjavapythonjavapythonjavapythonjava

In [74]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [ ]:
##035 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [75]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
##036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [79]:
#037 문자열 출력
#f-string  문자열 앞에 f를 붙여서 생성
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1}, 나이: {age1}")
print(f"이름: {name2}, 나이: {age2}")

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [81]:
#038 컴마 제거하기
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",", "")
num.상장주식수 = int("5,969,782,550")
print(type(int))

ValueError: invalid literal for int() with base 10: '5,969,782,550'

In [83]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int("5969782550")
print(타입변환,type(타입변환))

5969782550 <class 'int'>

In [86]:
#039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print = (분기[0:8])

In [92]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

TypeError: 'str' object is not callable

하나의 글자 가져오기: 인덱싱 / 하나 이상: 슬라이딩

In [89]:
#040 strip 메서드
data = "   삼성전자    "
data = .delete "

Object `del` not found.

In [90]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

TypeError: 'str' object is not callable

문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거

```
#101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
str 타입 -> `bool` 타입
bool 타입으로 유효한 값은 True와 False
```

In [1]:
#102 아래 코드의 출력 결과를 예상하라
print(3 == 5)

False

In [2]:
#103 아래 코드의 출력 결과를 예상하라 (true)
print(3 < 5)

True

In [3]:
#104 아래 코드의 결과를 예상하라. (true)
x = 4
print(1 < x < 5)

True

In [5]:
#105 아래 코드의 결과를 예상하라. (true)
print ((3 == 3) and (4 != 3))
# != x와 y가 같지 않다

True

In [6]:
#106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라. (3은 4보다 작음)
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3284061006.py, line 2)

지원하지 않는 연산자임

In [8]:
#107 아래 코드의 출력 결과를 예상하라 (Hello World)

if 4 < 3:
    print("Hello World")

```
조건을 만족하지 않기 때문에 아무 결과도 출력되지 않음
코딩 결과가 항상 나오는 것이 아님 기억하기
```

In [9]:
#108 아래 코드의 출력 결과를 예상하라 (아닐 경우가 나옴)

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [11]:
##109 아래 코드의 출력 결과를 예상하라 (4)

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [13]:
##110 아래 코드의 출력 결과를 예상하라 (4 / 5)

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

```
항상 위에서 아래로 수행되고
들여쓰기 된 부분끼리 한 단락 / 끝나는 부분 파악 가능
```

In [1]:
#111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
print ("안녕하세요") *2

안녕하세요

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [2]:
user = input("안녕하세요")
print(user * 2)

안녕하세요 안녕하세요

안녕하세요안녕하세요

In [3]:
user = input("입력:")
print(user * 2)

입력: 안녕하세요

안녕하세요안녕하세요

In [5]:
#112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
user = input("int:")
print(user +10)

int: 10

TypeError: can only concatenate str (not "int") to str

In [6]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요:  10

20

In [8]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
user = input("")
if int(user) %2 == 0:
    print ("짝수")

else:
    print ("홀수")

 2

짝수

In [13]:
#114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다
user = input ("")
if int(user) <= 255:
    print (int(user) +20)
    
else:
    print ("255")

 200

220

In [14]:
user = input ("")
if int(user) <= 255:
    print (int(user) +20)
    
else:
    print ("255")

 240

260

In [16]:
##
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  5

25

In [30]:
#115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 
#예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print (255)
elif num < 0:
    print (0)
else:
    print (num)

입력값:  0

0

In [18]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input("현재시간 ")
if time[-2:] == "00" :
    print("정각입니다.")

else:
    print("정각이 아닙니다.")

현재시간  07:00

정각입니다.

In [25]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")

if user in fruit:
    print("정답입니다.")
else:
     print("오답입니다.")

좋아하는 과일은?  포도

정답입니다.

In [28]:
#118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목 확인: ")

if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
     print("투자 경고 종목이 아닙니다.")

종목 확인:  LG

투자 경고 종목입니다.

In [31]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = user = input("제가좋아하는계절은 ")

if user in fruit:
    print("정답입니다.")
else:
     print("정답이 아닙니다.")

제가좋아하는계절은  봄

정답입니다.

In [32]:
#120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = user = input("좋아하는과일은? ")

if user in fruit:
    print("정답입니다.")
else:
     print("정답이 아닙니다.")

좋아하는과일은?  한라봉

정답이 아닙니다.

In [33]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 a

A

In [34]:
#122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  60

grade is C

In [39]:
#123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력:  100 달러

116700.0 원

In [41]:
#124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  100
input number2:  123
input number3:  79

123

In [44]:
#125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  019-1111-1234

당신은 LGU 사용자입니다.

In [45]:
#126 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [46]:
#127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  821010-1635210

남자

In [48]:
#128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  821010-1635210

서울이 아닙니다.

In [50]:
##129 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

In [52]:
#130 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [53]:
#131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [54]:
#132 for문의 실행결과를 예측하라. (####)

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [55]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [56]:
#134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [57]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [58]:
#135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [59]:
print("변환:", "A")
print("변환:", "B")
print("변환:", "C")

변환: A
변환: B
변환: C

In [62]:
#136 다음 코드를 for문으로 작성하라.

for 변수 in ["10", "20", "30"]:
  print(변수)

10
20
30

In [61]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [63]:
#137 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

10
20
30

In [64]:
for 변수 in ["10", "20", "30"]:
  print(변수)

10
20
30

In [65]:
#138 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [66]:
for 변수 in ["10","-------", "20","-------", "30", "-------"]:
  print(변수)

10
-------
20
-------
30
-------

In [67]:
#139 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [68]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

```
print("++++")를 반복하고 싶다면, for문을 사용할 수 있지만 그 목적은 다름
for문은 반복문으로, 리스트나 튜플과 같은 반복 가능한 객체의 요소들을 하나씩 순회하면서 특정 작업을 수행할 때 사용
for i in range(3):  # 3번 반복
    print("++++")
print("++++")가 세 번 반복되어 출력됨
```

In [69]:
#140 다음 코드를 for문으로 작성하라.
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [70]:
for i in range(4): 
    print("-------")

-------
-------
-------
-------

In [73]:
#141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [74]:
#142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [75]:
#143 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [76]:
#144 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [77]:
#145 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [78]:
##146 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [79]:
##147 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [80]:
#148 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for 변수 in 나다라:
  print(변수)

나
다
라

 ```
for문을 사용하면 리스트의 크기와 상관없이 간단하게 모든 요소를 순회하면서 동일한 작업을 수행
리스트의 여러 요소를 하나씩 처리해야 해서
```

In [85]:
#149 리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]
가나다라 = [가, 다]
for 변수 in 가나다라:
  print(변수)

NameError: name '가' is not defined

In [86]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [87]:
#150 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2.reverse]:
  print(변수)

SyntaxError: invalid decimal literal (3232667043.py, line 4)

In [88]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

증감폭을 음수로 설정하면 끝에서 앞방향으로 값을 슬라이싱

In [90]:
#151 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
   if 변수 < 0:
     print(변수)

-20
-3

In [91]:
#152 for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [95]:
#153 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 % 3 == 0) and (변수 < 20):
    print(변수)

12
18

In [98]:
#154 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
    if len(변수) >= 3:
        print(변수)

study
python
language

In [99]:
#155 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [100]:
#156 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() == False:
    print(변수)

b
c

In [101]:
##157이름의 첫 글자를 대문자로 변경해서 출력하라.

for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

A
B
C
D

In [102]:
##158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [103]:
#159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

split() 메서드로 문자열을 분할

In [107]:
#160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] =="c"):
    print(변수)

intra.h
intra.c
define.h

or 연산자 잊지 않기