In [ ]:
# Pandas 
# Series           1차원
# DataFrame        2차원

In [3]:
import pandas as pd
import numpy as np
# Series
s = pd.Series([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ])
print(type(s))
print(s.index) 
print(s.dtype)
print(s)

s.index = [ 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I' ] # 인덱스 지정
print(s)

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=9, step=1)
int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [20]:
s = pd.Series ([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], index = [ 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I' ])
print(s)
print(s.index)
print(s.values)
print(s[0])
print(s['A'])
print(s.A)
print(s[0:5])

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')
[1 2 3 4 5 6 7 8 9]
1
1
1
A    1
B    2
C    3
D    4
E    5
dtype: int64

C:\Users\82107\AppData\Local\Temp\ipykernel_12152\1843622313.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [21]:
# Dictionary (Map, JSON) -> Series
d = {'A':10, 'D':20, 'F':30, 'H':40}
print(type(d))
for key, value in d.items():
    print(key, ":", value)

print(d['A'])
# print(d.A) # 에러
# print(d.[0:3])  # 에러 딕셔너리는 슬라이싱 자체가 안됨


s = pd.Series(d)
print(s.index)
print(s.values)
print(s['A'])
print(s.A)
print(s[0:3])

<class 'dict'>
A : 10
D : 20
F : 30
H : 40
10
Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
10
10
A    10
D    20
F    30
dtype: int64

In [27]:
# DataFrame
# Dictionary -> DataFrame
d = {
    'name' : ['kim', 'lee', 'park', 'jung'],
    'age' : [25, 30, 35, 20],
    'tel' : ['1111-2222', '2222-1111', '3333-1111', '2222-3333']
}

print(type(d))

df = pd.DateFrame(d)
print(df)
print(df.index)
print(df.columns)
print(df.values)

df.index.name = 'Num' # 인덱스 이름 지정 가능
df.columns.name = 'User'

<class 'dict'>

AttributeError: module 'pandas' has no attribute 'DateFrame'

In [35]:
n = np.array(
    [['kim', 20, '1111-2222'],
     ['lee', 30, '2222-1111'],
     ['park', 35, '3333-2222'],
     ['jung', 23, '3333-1111']]

)
print(type(n))
df = pd.DataFrame(n)

df.columns = ['name', 'age', 'tel']
df.index = [ 'A', 'B', 'C', 'D' ]

print(df)
print(df.index)
print(df.columns)

df = pd.DataFrame(n, columns=[ 'name', 'age', 'tel'], index=[ 'A', 'B', 'C', 'D' ])
print(df)

print(df.describe())

<class 'numpy.ndarray'>
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  23  3333-1111
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'age', 'tel'], dtype='object')
   name age        tel
A   kim  20  1111-2222
B   lee  30  2222-1111
C  park  35  3333-2222
D  jung  23  3333-1111
       name age        tel
count     4   4          4
unique    4   4          4
top     kim  20  1111-2222
freq      1   1          1

In [44]:
print(df['name']) #name 열을 꺼냄
print(df[['name', 'tel']])
print(df['name'][2])
print(df['name']['C'])
print(df['name'].C)
print(df['name']['B':'D'])

print(df.name, df.age) # 2차원 형식이 아닌 따로따로 찍는것
print(df.name.C)

A     kim
B     lee
C    park
D    jung
Name: name, dtype: object
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111
park
park
park
B     lee
C    park
D    jung
Name: name, dtype: object
A     kim
B     lee
C    park
D    jung
Name: name, dtype: object A    20
B    30
C    35
D    23
Name: age, dtype: object
park

C:\Users\82107\AppData\Local\Temp\ipykernel_12152\239514055.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['name'][2])

In [52]:
print(df[:][:])
print(df[:2][:1]) #행 / 열
print(df[['name', 'tel']])
# print(df[[0, 2]]) # 에러 컬렴명이 있는 경우 숫자 안됨
# print(df[[0][0]) # 에러

   name age        tel address
A   kim  20  1111-2222      서울
B   lee  30  2222-1111      수원
C  park  35  3333-2222      인천
D  jung  23  3333-1111      안산
  name age        tel address
A  kim  20  1111-2222      서울
   name        tel
A   kim  1111-2222
B   lee  2222-1111
C  park  3333-2222
D  jung  3333-1111

In [51]:
print(df)

   name age        tel address
A   kim  20  1111-2222      서울
B   lee  30  2222-1111      수원
C  park  35  3333-2222      인천
D  jung  23  3333-1111      안산

In [57]:
df ['address'] = ['서울', '수원', '인천', '안산'] # 데이터 갯수는 맞춰야한다
df ['adult'] = df['age'].astype(np.int64) > 30 # 나이 한줄을 꺼냄 age부터는 논리값, 30만 쓰면 자료형이 다른거랑 계산해서 ''추가
# 이후 astype(np.int64) 자료형 변경
print(df)

   name age        tel address  adult
A   kim  40  1111-2222      서울   True
B   lee  30  2222-1111      수원  False
C  park  35  3333-2222      인천   True
D  jung  23  3333-1111      안산  False

In [61]:
# Series 정렬
s = pd.Series( [10, 40, 50, 20, 70, 60], index=['a', 'b', 'c', 'd', 'e', 'f'])
s = s.sort_index()
s = s.sort_values()
print(s)

a    10
d    20
b    40
c    50
f    60
e    70
dtype: int64

In [76]:
# DataFrame 정렬
df = pd.DataFrame([[4, 5, 1, 2],
                  [21, 26, 10, 40],
                   [ 300, 400, 500, 600]], index=['B', 'T', 'P'], columns=['d', 'c', 'a', 'b'])
print(df)
df = df.sort_index() # index
df = df.sort_index(axis=0) # 위랑 같음 행끼리 0 정렬이나 값 안 주는거랑
df = df.sort_index(axis=1, ascending=False) # cloumn

df = df.sort_values( by='a', ascending=False) # 행끼리
df = df.sort_values( by='b', axis=1) #열끼리
print( df )

     d    c    a    b
B    4    5    1    2
T   21   26   10   40
P  300  400  500  600
     d    c    b    a
B    4    5    2    1
T   21   26   40   10
P  300  400  600  500

In [6]:
# 슬라이싱
# .iloc        정수 인덱스 / i 숫자 loc 위치
# .loc         라벨 인덱스
# .ix          deprecated (옛날 방식이라 쓰지 않음)

# list (2차원 만들기)
m = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
print(m)
print(m[2][2])
print(m[:][:])
print(m[:2][:2])
# print(m[:2, :2]) 에러 (리스트는 이렇게 꺼내는게 안됨)

# Numpy
n = np.array(m)
print(n)
print(n[2][2])
print(n[:][:])
print(n[:2][:2])
print(n[:2, :2]) 

# Pandas
df = pd.DataFrame(n)
print(df)
print(df[2][2])
print(df[:][:]) # 슬라이싱하면 행렬 개념은 아님
print(df[:2][:2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6]]

NameError: name 'np' is not defined

In [9]:
# iloc

df = pd.DateFrame(np.arange(1, 21).reshape(5, 4), columns=['A', 'B', 'C', 'D'])
print(df)

# print(df[2][2])        # 에러
print(df['C'][2])
print(df[['A', 'D']])

# print(df['A' : 'D'])    # 에러
# print(df[['A' : 'C']])  # 에러 (그래서 좀 더 편하라고 만든게 iloc다)

print(df.iloc[2][2])
print(df.iloc[2, 2])
# print(df.iloc[2, 'C'])            # 에러 (숫자밖에 안됨)
print(df.iloc[:2, :2])
print(df.iloc[:3:2, :3:2])
print(df.iloc[:2, ::-1])
print(df.iloc[::-1, ::-1])

NameError: name 'pd' is not defined

In [10]:
# loc 라벨링
print(df)
# print(df.loc[2, 2])        # 에러
print(df.loc[2, 'C'])
# print(df.loc[:2, :2])      # 에러 (열에 라벨이 있을땐 맞춰서 써라)
print(df.loc[:2, :'C'])
print(df[:2])
print(df.loc[1:3, 'B':'C'])
print(df.loc[:, 'C']) # 하나만 가져올거면
print(df.loc[:, ['B', 'D']]) # 모든 행에서 B, C 가지고 올래, 세밀하게 조절해서 원하는 데이터 추출가능
print(df[:, ['B', 'D']]) # 위값이랑 똑같이 이것도 가능인데 위는 행 설정도 가능

NameError: name 'df' is not defined

In [16]:
df = pd.DateFrame(np.arange(1, 21).reshape(5, 4), columns=['A', 'B', 'C', 'D'])
df['E'] = [31, 32, 33, 34, 35]  # 없으면 아래 추가하는 내용이랑 안 맞음, e열 한줄이 없어서
# df.iloc[:, 5] = [40,  41, 42, 43, 44]        # 에러, 걍 내용만 추가한게 됨
# df.iloc[5, :] = [90, 91, 92, 93, 94]           # 에러, 추가가 안됨
# df.iloc[:, 5] = [90, 91, 92, 93, 94]           # 에러, 추가가 안됨

# 기존 데이터에 열을 추가할때 (추가된다는건 수정도 된다)
df.loc[5] = [90, 91, 92, 93, 94]
df.loc[:, 'F'] = [40, 41, 42, 43, 44, 45]

# 있는 칼럼을 주면 수정해라가 됨
df.loc[0, 'A'] = 99
df.loc[1, 'A':'C'] = [100, 101, 102]
# 값 세개 수정하기
df.loc[3, ['A', 'C', 'E']] = [200, 201, 202]

# 지우기
del(df['E'])
# del(df.loc[:, 'E'])       에러

# df.drop('F') # 그냥 실행하면 에러, 이렇게 하면 열 0인데 F라는 열 없음
# print (df.drop('F', axis=1 )) # 삭제된 복제본 출력
df = df.drop( 'F', axis=1) # 원본 삭제
df.drop(5) # 0은 기본값이라 안 써도 됨

print(df)

NameError: name 'pd' is not defined

In [19]:
# Boolean Indexing

df = pd.DataFrame(
    [['kim', 20, '1111-2222'],
     ['lee', 30, '2222-1111'],
     ['park', 35, '3333-2222'],
     ['jung', 23, '3333-1111'],
     ['hong', 40, '1111-3333']], columns=['name', 'age', 'tel']
)

print(df)

print(df.loc[3, 'name'])
print(df.loc[df['age'] > 30, ['name', 'age']]) # 앞은 행 고르기 ,뒤는 열 고르기 (확인하려고 출력만 한것)
# df1 = df.loc[df['age'] > 30, ['name', 'age']] 이런식으로 받아놓기만 해도 됨
print(df.loc[df['name'] == 'kim', : ]) # kim을 다 출력할거면 : 주고 닫기
print(df.loc[df['age'] > 20 & (df['age'] < 40), 'name':'tel'] ) # 조건 여러개이면 () 묶어서 헷갈리지 않게 쓰기

NameError: name 'pd' is not defined

In [ ]:
# 결측값 대체
# 데이터는 반드시 계속 갱신되어야 함
df['address'] = ['서울', np.nan, np.man, '수원', np.nan]

print(df.loc[df['address'] == np.nan, 'address'])
print(df.loc[df['address'] == None, 'address'])

# 주소 없는 애들 걸러내는 법
print(df.loc[df['address'].isnull(), 'address'])          
# 빈칸 대체하기
df.loc[ df['address'].isnull(), 'address'] = 서울

df.loc[ ::2, 'address'] = ''      # 빈값으로 들어가있음
df.loc[df['address'] == '', 'address'] = 서울

print(df)

In [21]:
# 결측값 제거
df.loc[::2, 'tel' ] = np.nan
df.loc[ 5, :] = [ np.nan, np.nan, np.nan, np.nan ]

# df.dropna(how='all', inplace=True) # 전체 다 na일때만 지워라
# df.df.dropna(how='any', inplace=True) # 하나라도 na이 들어있으면 다 지워라 all보다 강력함

df['income'] = [ 300, np.nan, 400, 500, np.nan, 300]
# df = df.fillna({'address': '서울'}, inpalce=True) # df= 로 다시 받아서 원본에 적용해라 
df.fillna({'address': '서울'}, inpalce=True)
df.fillna({'income':np.mean(df['income'])}, inplace=True) #na값은 빼고 계산함

df.drop( [4, 5], inplace=True)
df.drop(['address', 'incom'], axis=1, inplace=True)

print(df)

# print(df.T)
print(df.transpose())         # 전치행렬

NameError: name 'np' is not defined

In [23]:
# Pandas 함수 (2차원 리스트)
df = pd.DataFrame(
    [['kim', 90, 80, 70],
     ['lee', 45, np.nan, 55],
     ['park', 76, 77, 83],
     ['hong', np.nan, np.nan, 77],
     ['kang', 35, 58, 52]
     ['jang', np.nan, np.nan, np.nan]], columns=['name', 'kor', 'eng', 'mat']
)

# print(df)
# print(df.count())
# print(df.count(axix=1))
# print(df.min())      # 최솟값 구하기
# print(df.loc[:, 1:3].min(axis=1)

# print(df.loc[:, 'kor':'mat'].var() ) # 분산
# print(df.loc[:, 'kor':'mat'].std() ) # 표준편차

df['tot'] = df.loc[:, 'kor':'mat'].sum(axis=1) # 옆으로 토탈 구하기, 이름빼기 위해 범위지정
df['avg'] = df.loc[:, 'kor':'mat'].min(axis=1) # 평균 구하기
print(df['kor'].corr(df['eng'])) # 상관관계 구하기
# 수치가 1에 가까우면 양의 상관관계
# 수치가 0이면 상관관계가 낮다
# 수치가 -1이면 음의 상관관계
 
print(df)

<>:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\82107\AppData\Local\Temp\ipykernel_2760\3884037489.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['kang', 35, 58, 52]
C:\Users\82107\AppData\Local\Temp\ipykernel_2760\3884037489.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['kang', 35, 58, 52]
C:\Users\82107\AppData\Local\Temp\ipykernel_2760\3884037489.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['kang', 35, 58, 52]
C:\Users\82107\AppData\Local\Temp\ipykernel_2760\3884037489.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['kang', 35, 58, 52]
C:\Users\82107\AppData\Local\Temp\ipykernel_2760\3884037489.py:7: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['kang', 35, 58, 52]

NameError: name 'pd' is not defined